.content {
  background-color: var(--background);
  width: 100%;
  z-index: 0;
}

.section {
  background-color: var(--background);
  width: 100%;
  align-content: center;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 10vh;
  z-index: 0;
}

/* add classname to any div to create space between next element on the page  */
.break-5vh {
  margin-bottom: 5vh;
}

.break-10vh {
  margin-bottom: 10vh;
}

.break-15vh {
  margin-bottom: 15vh;
}

.break {
  margin-bottom: 20vh;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
    flex-wrap: wrap;

    align-items: center;
  }
}

.flex {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.flex-align-left {
  text-align: left;
  justify-content: left;
}

.flex-align-right {
  text-align: right;
  justify-content: right;
}

.home-banner-container {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.home-banner-text-container {
  display: inline-block;
  align-items: center;
  text-align: left;
  max-width: 25vw;
  margin: 20px;
}

.text-container {
  max-width: 60vw;
  text-align: left;
}

.text-center {
  text-align: center;
}

.flare-background-container {
  position: relative;
  z-index: 1;
}

.flare-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 50%;
  height: 70%;
  background: radial-gradient(circle at center, #d3bbea, #4b0082, #0c0b1e);
  filter: blur(120px);
  z-index: -1;
}

.flare-background-large {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background: radial-gradient(circle at center, #2e1347, #a888c0, #8886b3);
  filter: blur(120px);
  z-index: -1;
}

.default-text-container {
  color: #d3bbea;
  display: inline-block;
  min-width: 60%;
  text-align: left;
  z-index: 1;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade.in-view {
  animation: fade 1s 0.5s both;
}

.fade.in-view-delay {
  animation: fade 1s 1s both;
}
