.content {
  margin-top: 7%;
}

.section {
  background-color: var(--background);
  align-content: center;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.break-5vh {
  height: 5vh;
}

.break-10vh {
  height: 10vh;
}

.break-15vh {
  height: 15vh;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
    flex-wrap: wrap;

    align-items: center;
  }
}

.flex {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.home-banner-container {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.home-banner-text-container {
  display: inline-block;
  align-items: center;
  text-align: left;
  max-width: 25vw;
  margin: 20px;
}

.text-container {
  max-width: 60vw;
  text-align: left;
}

.flare-background-container {
  position: relative;
  z-index: 1;
}

.flare-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 70%;
  min-width: 60%;
  min-height: 100%;
  background: radial-gradient(circle at center, #d3bbea, #4b0082, #0c0b1e);
  filter: blur(120px);
  z-index: -1;
}
