.navbar {
  background-color: var(--navbar);
  width: 100%;
  padding: 10px;
}

.navbar-button {
  background-color: #262548;
  color: whitesmoke;
  padding: 0.3em;
  width: fit-content;
  align-self: center;
  margin: 5px;
  border-radius: 7px;
  display: inline-block;
}

.navbar-button:hover {
  background-color: #3e44bd;
}

.footer {
  background-color: #130820;
  background: linear-gradient(#130820, var(--navbar));
  padding: 30px;
  width: 100%;
  height: 100px;
}

.truly-center-grid {
  display: flex;
  justify-content: center;
}

.avatar-image-container > img {
  max-width: clamp(150px, 15vw, 300px);
  height: auto;
  clip-path: circle(50%);
  z-index: 2;
}

.avatar-image-container {
  position: relative;
  display: inline-block;
  height: fit-content;
  width: fit-content;
  padding: 1rem;
  background: radial-gradient(closest-side, #9f8cb1 15%, #320f85, transparent);
}

.avatar-image-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; /* make it larger than container so it flares out */
  height: 100%;
  filter: blur(100px);

  background: radial-gradient(circle at center, #d3bbea, #4b0082, #0c0b1e);
  z-index: 0;
}

.card {
  z-index: 1;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  /*background: linear-gradient(to bottom right, #19052c 15%, #180445)*/
  background: radial-gradient(
      circle at top left,
      /* gradient position */ rgba(123, 97, 255, 0.4),
      /* bright purple glow */ rgba(32, 0, 64, 0.9) 70% /* fades into dark */
    ),
    #120024;
  border-radius: 10px;
  width: 20em;
  padding: 20px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 10px;
  box-shadow: 0px -3px #320f85;
}

.left-flare {
  background: radial-gradient(
      circle at top left,
      /* gradient position */ rgba(123, 97, 255, 0.4),
      /* bright purple glow */ rgba(32, 0, 64, 0.9) 70% /* fades into dark */
    ),
    #120024;
}

.right-flare {
  background: radial-gradient(
      circle at top right,
      /* gradient position */ rgba(123, 97, 255, 0.4),
      /* bright purple glow */ rgba(32, 0, 64, 0.9) 70% /* fades into dark */
    ),
    #120024;
}

.card:hover {
  transform: translateY(-5px); /* lift effect */
  box-shadow: 3px -5px #320f85;
}

.card-image {
  width: 4em;
  height: auto;
  margin-right: 10px;
}

.card-text-container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.card-text-container > h5 {
  text-decoration: none;
  font-family: Kanit;
  margin: 2px;
}

.text-bubble {
  display: inline-block;

  margin-top: 10px;
  z-index: 3;
  height: fit-content;
  max-width: clamp(200px, 90vw, 400px);
  padding: 1rem 1.5rem;
  border-radius: 10px;
  background: linear-gradient(
    to right,
    rgb(47, 22, 61),
    rgb(120, 79, 146, 0.5),
    rgba(232, 229, 234, 0.25),
    rgb(120, 79, 146, 0.5),
    rgb(47, 22, 61)
  );
  padding: 1rem 1.5rem;
}

.text-bubble-text-box {
  text-align: left;
  /* make div height fit only 6 lines of text*/
  line-height: 1.2;
  max-height: calc(1.2em * 6);
  overflow: hidden;
  text-overflow: ellipsis;
  /* make div text ellipsis on overflow at end of 6th line */
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  line-clamp: 6;
  -webkit-line-clamp: 6;
  word-break: normal;
}

.text-bubble-gradient-background-right {
  background: linear-gradient(
    to bottom right,
    rgba(60, 28, 79, 1),
    rgba(199, 178, 212, 0.25) 70%
  );
}

.text-bubble-gradient-background-left {
  background: linear-gradient(
    to bottom left,
    rgba(60, 28, 79),
    rgba(199, 178, 212, 0.25) 70%
  );
}

.featured-project-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: start;
  gap: 5px;
  padding: 1rem;
  position: relative;
  height: fit-content;
  width: fit-content;
}

.featured-project-container.left-shift {
  transform: translate(0%);
}

.featured-project-container.right-shift {
  transform: translate(0%);
}

.project-box {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: start;
  gap: 5px;

  position: relative;
  z-index: 1;
}

.flex-align-left {
  text-align: left;
  align-items: start;
}

.flex-align-right {
  text-align: right;
  align-items: end;
}

.featured-project-thumbnail-image {
  z-index: -1;

  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top left;
  border-radius: 4%;
}

.project-image-box img {
  transition: transform 0.3s ease;
}

.project-image-box:hover img {
  transform: translateY(-5px) scale(1.05);
}

/* wraps image box and text bubble to anchor image absolutely according to the text bubble */
.bubble-wrapper {
  position: relative; /* anchor point */
  display: inline-block; /* shrink to bubble size */
  width: fit-content;
}

.project-image-box {
  z-index: -1;
  width: 300px;
  height: 200px;
  background-color: #320f85;
  border-radius: 4%;
  padding-right: 2%;
  padding-top: 2%;
}

@media (min-width: 769px) {
  .project-image-box.left-anchor {
    position: absolute;
    top: 25%;
    left: 95%;
    z-index: 0;
  }

  .project-image-box.right-anchor {
    position: absolute;
    top: 25%;
    right: 95%;
    z-index: 0;
  }
}

@media (max-width: 768px) {
  .project-image-box {
    position: relative;
    margin-top: 5px;
  }
}
