.navbar {
  background-color: #1a0b2e;
  width: 100%;
  padding: 10px;
}

.navbar-button {
  background-color: #262548;
  color: whitesmoke;
  padding: 0.3em;
  width: fit-content;
  align-self: center;
  margin: 5px;
  border-radius: 7px;
  display: inline-block;
}

.navbar-button:hover {
  background-color: #3e44bd;
}

.truly-center-grid {
  display: flex;
  justify-content: center;
}

.avatar-image {
  width: 30vh;
  height: auto;
}

.avatar-image-container {
  display: inline-block;
  height: fit-content;
  width: fit-content;
  padding: 30px;
  background: radial-gradient(closest-side, #9f8cb1 15%, #320f85, transparent);
}

.card {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #19052c 15%, #180445);
  border-radius: 10px;
  width: 15em;
  padding: 20px;
  margin: 10px;
  box-shadow: 1px -3px #320f85;
}

.card-image {
  width: 4em;
  height: auto;
  margin-right: 10px;
}

.card-text-container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.card-text-container > h5 {
  text-decoration: none;
  font-family: Kanit;
  margin: 2px;
}
