:root {
  --background: #171528;
  --navbar: #1a0b2e;
}

body {
  margin: 0;
  font-family: Kanit, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--navbar);
  overflow-x: hidden;
  overscroll-behavior: none;
  color: #dfdfe6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* fonts */

@font-face {
  font-family: "Kanit";
  src: local("Kanit"), url(./Fonts/Kanit/Kanit-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Kanit-Bold";
  font-weight: 900;
  src: local("Kanit"), url(./Fonts/Kanit/Kanit-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Kanit-Black";
  font-weight: 900;
  src: local("Kanit"), url(./Fonts/Kanit/Kanit-Black.ttf) format("truetype");
}

@font-face {
  font-family: "Kanit-Light";
  font-weight: 300;
  src: local("Kanit-Light"),
    url(./Fonts/Kanit/Kanit-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Kanit-ExtraLight";
  font-weight: 200;
  src: local("Kanit-ExtraLight"),
    url(./Fonts/Kanit/Kanit-ExtraLight.ttf) format("truetype");
}

p {
  font-family: Kanit-Light;
  font-size: 1em;
  font-weight: 300;
  color: #dfdfe6;
}

.underline {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  line-height: 1;
  z-index: 1;
}

h1 {
  font-family: Kanit;
  font-size: 2.5em;

  color: #dfdfe6;
}

h2 {
  font-family: Kanit;
  font-size: 2em;
  font-weight: 200;
  color: #dfdfe6;
}

h3 {
  font-family: Kanit-ExtraLight;
  font-size: 1.2em;
  color: #dfdfe6;
}

h4 {
  font-family: Kanit-ExtraLight;
  font-size: 0.8em;
  color: #dfdfe6;
}

h5 {
  font-family: Kanit-ExtraLight;
  font-size: 1em;
  color: #dfdfe6;
  margin: 0;
}

h6 {
  font-family: Kanit-ExtraLight;
  font-size: 0.5em;
  color: #dfdfe6;
  margin: 0;
}

.purple {
  color: rgb(127, 9, 185);
}

.light-purple {
  color: rgb(161, 80, 202);
}

.underline {
  text-decoration: underline;
}

.semibold {
  font-family: Kanit;
}

.padding-5px {
  padding-bottom: 5px;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.fill-width {
  width: 100%;
}
